header{
    color: rgb(241, 233, 19);
    background-color: blue;
}
h3{
    color: rgb(241, 233, 19);
    background-color: blue;
}
ul
{
    color: darkgreen;
}
ol
{
    color: rgb(39, 48, 207);
}
footer{
    font-style: italic;
}